<!-- <div class="sidebar-container">
    <div class="sidebar-logo">
      News-App
    </div>
    <ul class="sidebar-navigation">

        <li class="header">Navigation</li>
        <li>

        <li>
            <a class="nav-link" href="/"><button type="button" class="btn btn-outline-success">Homepage </button><span class="sr-only">(current)</span></a>
        </li>

    
      <li class="header">Another Menu</li>
      <li>
        <a href="/{{'categories/Business'}}">
          <i class="fa fa-users" aria-hidden="true"></i> Business
        </a>
      </li>
      <li>
        <a href="/{{'categories/Technology'}}">
          <i class="fa fa-cog" aria-hidden="true"></i> Technology
        </a>
      </li>
      <li>
        <a href="/{{'categories/Science'}}">
          <i class="fa fa-info-circle" aria-hidden="true"></i> Science
        </a>
      </li>

      <li>
        <a href="/{{'categories/Sports'}}">
          <i class="fa fa-home" aria-hidden="true"></i> Sports
        </a>
      </li>
      <li>
        <a href="/{{'categories/Entertainment'}}">
          <i class="fa fa-tachometer" aria-hidden="true"></i> Entertainment
        </a>
      </li>
    </ul>
  </div> -->